.footer-link a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-weight: bold;
  line-height: 35px;
}
.flw{
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  color: white;
}
.gradient {
  background-color: #061A3A; 
}
.copyright {
  background-color: #061A3A;
}

.dropdown-menu.show {
  left: -126px;
  padding: 11px;
}
